article,section {
  header {
    margin: $space-xl 0 $space-lg 0;

    .post-meta {
      @include font-size(13px);
    }
    .post-tags {
      margin-top: $space-md;
      @include font-size(13px);

      &__tag {
        background-color: $medium-grey;
        border-radius: 4px;
        padding: $space-sm $space;
        margin-right: $space;
        color: $black;
        border:0;
        
        &:active,
        &:focus,
        &:hover {
          background: $brand-primary-very-light;
          color: $true-black;
        }
      }
    }
  }

  picture {
    text-align: center;
  }
  aside {
    @include center-content;
  }
  figure {
    margin-top: $space-md;
    @include center-content(wide);
  }
}
