article,
section {
  header {
    margin: $space-xl 0 $space-lg 0;

    .post-meta-container {
      border-top: 2px solid $grey-medium;
      border-bottom: 2px solid $grey-medium;
      padding: $space 0;
      margin-top: $space-md;
      @include font-size(13px);
    }

    .post-meta {
      display: flex;
      margin-bottom: $space-sm;

      &:last-of-type {
        margin-bottom: 0;
      }

      &__label {
        margin-right: $space;
        color: $text-body-dark;
      }
      &__date {
        color: $text-body-dark;
      }

      &__tag {
        margin: 0;
        @include linkSeparator;
      }
      &__meta-data {
        @include linkSeparator;
      }
    }
  }

  picture {
    text-align: center;
  }
  aside {
    @include center-content;
  }
  figure {
    margin-top: $space-md;
    @include center-content(wide);
  }
}
