.author {
  @include center-content;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "avatar" 
    "info" 
    "support";
  grid-gap: $space;
  background-color: var(--primary);
  border-radius: $border-radius;
  padding: $space-md;
  margin-top: $space-md;
  color: var(--white);

  @media (min-width: $break-sm) {
    grid-gap: $space $space-md;
    padding: $space-md $space-lg;
    grid-template-columns: 120px auto auto;
    grid-template-areas: 
      "avatar info info" 
      "avatar support support";
    margin-top: $space-xl;
  }
  @media (min-width: $break-md) {
    grid-template-areas: 
      "avatar info support";
  }

  .avatar {
    grid-area: avatar;

    border-radius: 100em;
    margin-right: $space;
    width: 100px;
    @media (min-width: $break-sm) {
      width: 100%;
    }
  }

  &__info {
    grid-area: info;

    p {
      @include font-size(16px);

      @media (min-width: $break-sm) {
        @include font-size(18px);
      }
    }
  }

  &__support {
    grid-area: support;

    display: grid;
    grid-gap: $space;
    grid-template-rows: auto;
    
    @media (min-width: $break-sm) {
      grid-template-columns: auto 1fr;
    }
    @media (min-width: $break-md) {
      grid-template-columns: auto;
      margin: auto;
    }
    .supporter-button {
      display: block;
      max-width: 200px;
    }

  }
}
