%button-reset {
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  font: inherit;
  color: inherit;
  background: transparent;
  text-align: inherit;
  line-height: normal;
  text-decoration: none;

  -moz-osx-font-smoothing: inherit;
  -webkit-font-smoothing: inherit;
  -webkit-appearance: none;

  cursor: pointer;

  /* Remove excess padding and border in Firefox 4+ */
  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}

button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
  @extend %button-reset;
}

.button {
  background: var(--grey-dark);
  color: var(--white);
  font-weight: $font-weight-bold;
  transition: box-shadow 0.3s ease;
  padding: $space-sm $space;
  border: 2px solid var(--grey-dark);
  @include font-size(13px);
  
  @media (min-width: $break-sm) {
    @include font-size(15px);
  }

  &:hover,
  &:focus {
    color: var(--white);
    background: var(--primary);
    border-color: var(--primary);
    text-decoration: none;
    outline: none;
  }
  
  &.on {
    color: var(--black);
    background: var(--secondary);
    border-color: var(--primary);
    // &:hover {
    //   color: $text-body-dark;
    //   background: var(--primary-very-light);
    // }
  }

  .count {
    font-weight: 400;
    margin-left: 0.25rem;
  }
}
