.footer {
  display: flex;
  align-items: center;
  @include font-size(16px);

  &__content {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid $grey-medium;
    padding-top: $space-md;
  }
  &__links {
    display: flex;
    flex-direction: column;
  }
  &__logo {
    .icon {
      width: 60px;
      fill: $grey-medium;
    }
  }
  &__copyright {
    margin-top: $space;
  }
}
