.footer {
  display: flex;
  align-items: center;
  @include font-size(14px);
  
  text-align: center;
  
  @media (min-width: $break-sm) {
    text-align: left;
  }

  &__content {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    border-top: 2px solid $grey-medium;
    padding-top: $space-md;

    @media (min-width: $break-sm) {
      flex-direction: row;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    margin-top: $space;

    @media (min-width: $break-sm) {
      margin-top: 0;
    }
    .user-links {
      margin-bottom: $space;
      p {
        display: inline-block;
        position: relative;
        margin: 0;

        &::after {
          content: "/";
          display: inline-block;
          margin: 0 $space-sm;
          color: $grey-semi;
        }

        &:last-of-type::after {
          display: none;
        }
      }
    }
  }

  &__logo {
    text-align: center;

    .icon {
      width: 60px;
      fill: $grey-medium;
    }
  }
  &__copyright {
    margin-top: $space;
  }
}
