.footer {
  display: flex;
  align-items: center;
  @include font-size(16px);

  &__content {
    display: flex;
    justify-content: space-between;
    border-top: 2px solid $grey-medium;
    padding-top: $space-md;
  }
  &__links {
    display: flex;
    flex-direction: column;

    .user-links {
      p {
        display: inline-block;
        position: relative;
        margin: 0;

        &::after {
          content: "/";
          display: inline-block;
          margin: 0 $space-sm;
          color: $grey-semi;
        }

        &:last-of-type::after {
          display: none;
        }
      }
    }
  }
  &__logo {
    .icon {
      width: 60px;
      fill: $grey-medium;
    }
  }
  &__copyright {
    margin-top: $space;
  }
}
