.btn {
    @include font-size(16px);
    border-radius: 0;
    padding: 0.75em 1.5em;

    &:focus, &.focus, &:hover, &:active, &.active,
    &:active:hover, &.active:hover, &:active:focus, &.active:focus, &:active.focus, &.active.focus {
        text-decoration: none;
    }
}

.btn-link {
    color: $text-link;
    font-weight: $font-weight-light;
    padding: 0;
    font-size: 1em;
    vertical-align: middle;
}

.btn-default {
    color: $black !important;
    background-color: $light-grey;
    border-color: $light-grey;

    &:focus, &.focus, &:hover, &:active, &.active,
    &:active:hover, &.active:hover, &:active:focus, &.active:focus, &:active.focus, &.active.focus {
        background-color: darken($light-grey, 10);
        border-color: darken($light-grey, 10);
    }
}
.btn-primary {
    color: $white !important;
    background-color: $brand-primary;
    border-color: $brand-primary;

    &:focus, &.focus, &:hover, &:active, &.active,
    &:active:hover, &.active:hover, &:active:focus, &.active:focus, &:active.focus, &.active.focus {
        background-color: darken($brand-primary, 10);
        border-color: darken($brand-primary, 10);
    }
}

.btn-secondary {
    color: $white !important;
    background-color: $brand-secondary;
    border-color: $brand-secondary;

    &:focus, &.focus, &:hover, &:active, &.active,
    &:active:hover, &.active:hover, &:active:focus, &.active:focus, &:active.focus, &.active.focus {
        background-color: darken($brand-secondary, 3);
        border-color: darken($brand-secondary, 3);
    }
}

.btn.disabled {
    background-color: #999;
    border-color: #999;
}

.form-control.flat {
    background-color: #ebebeb;
    border: 0;
    border-radius: 0;
    box-shadow: none;
}

.help-block {
    @include font-size(12px);
}
