.header {
  display: flex;
  align-items: center;
  background-color: $white;
  padding: $space-md 0;

  @media (min-width: $break-sm) {
    height: 150px;
  }

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    
    @media (min-width: $break-sm) {
      flex-direction: row;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    border: 0;
    background: none;

    &:hover {
      text-decoration: none;
      border: 0;
      background: none;
    }

    .icon {
      width: 40px;
      fill: $text-body-dark;
    }

    .text {
      display: none;
      margin-left: $space;
      color: $text-body-dark;
      font-weight: $font-weight-bold;
      @include font-size(20px);

      @media (min-width: $break-sm) {
        display: block;
      }
    }
  }

  nav {
    ul {
      margin: $space 0 0 0;
      padding: 0;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      text-align: center;
      justify-content: center;
      
      @media (min-width: $break-sm) {
        text-align: right;
        justify-content: space-between;
        margin: 0;
      }

      li {
        margin-left: $space;
        margin-right: $space;

        @media (min-width: $break-sm) {
          margin-left: $space-md;
          margin-right: auto;
        }

        a {
          display: block;
          text-decoration: none;
          color: $text-body-dark;
          border: 0;
          background: none;
        }
      }
    }
  }
}
