.header {
  display: flex;
  align-items: center;
  height: 150px;
  background-color: $white;

  &__content {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    border: 0;
    background: none;

    &:hover {
      text-decoration: none;
      border: 0;
      background: none;
    }

    .icon {
      width: 40px;
      fill: $text-body-dark;
    }

    .text {
      margin-left: $space;
      color: $text-body-dark;
      font-weight: $font-weight-bold;
      @include font-size(20px);

      @media (max-width: $break-sm) {
        display: none;
      }
    }
  }

  nav {
    ul {
      margin: 0;
      padding: 0;
      text-align: right;
      display: flex;
      align-items: center;
      justify-content: space-between;

      li {
        margin-left: $space-md;

        a {
          display: block;
          text-decoration: none;
          color: $text-body-dark;
          border: 0;
          background: none;
        }
      }
    }
  }
}
