.homepage {
  h1 {
    padding-top: $space-xl;
    color: $text-body-dark;
    @include font-size(48px);
  }
  .avatar {
    float: right;
    border-radius: 100%;
    width: 200px;
    display: block;
    margin: $space-xl auto $space $space;
  }

  .recent {
    display: flex;
    justify-content: space-between;
    
    > div {
      width: 45%;
    }
    h2 {
      margin-top: 0;
    }
  }
}
