.homepage {
  > * {
    @include center-content;
  }

  h1 {
    padding-top: $space-md;

    @media (min-width: $break-sm) {
      padding-top: $space-lg;
      @include font-size(48px);
    }

    @media (min-width: $break-md) {
      padding-top: $space-xl;
      @include font-size(48px);
    }

    span {
      display: block;
      @media (min-width: $break-sm) {
        display: inline;
      }
    }
  }

  .avatar {
    border-radius: 100%;
    width: 100px;
    display: block;
    // margin: $space-md auto;
    float: right;
    margin: $space-md auto $space $space;

    @media (min-width: $break-sm) {
      width: 200px;
      margin: $space-lg auto $space-md $space-md;
    }

    @media (min-width: $break-md) {
      margin-top: $space-xl;
    }
  }

  .recent {
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    @media (min-width: $break-sm) {
      flex-direction: row;
    }

    > div {
      width: 100%;
      margin-bottom: $space-lg;
      @media (min-width: $break-sm) {
        width: 45%;
      }
    }
    h2 {
      margin-top: 0;
    }
  }
}
