main {
  padding-bottom: 3em;
}

.container {
  width: 100%;
  max-width: $container-width;
  margin: auto;

  &.content-container {
    max-width: $content-width;
  }
}

.user-links {
  p {
    display: inline-block;
    position: relative;
    margin: 0;

    &::after {
      content: "/";
      display: inline-block;
      margin: 0 10px;
      color: $medium-grey;
    }

    &:last-of-type::after {
      display: none;
    }
  }
}
