main {
  padding-bottom: $space-lg;
}

.container {
  width: 100%;
  max-width: $container-width;
  margin: auto;

  &.content-container {
    max-width: $content-width;
  }
}

.user-links {
  p {
    display: inline-block;
    position: relative;
    margin: 0;

    &::after {
      content: "/";
      display: inline-block;
      margin: 0 $space-sm;
      color: $grey-semi;
    }

    &:last-of-type::after {
      display: none;
    }
  }
}

.category-container,
.tag-container {
  a {
    display: inline-block;
    margin: 0 $space $space 0;
    @include font-size(13px);

    &:hover {
      border: 0;
      background: none;
    }
  }

  span {
    display: block;
    padding: $space-sm $space-sm;
    background: $grey-medium;
    border-radius: $border-radius-sm;
    color: $text-body-dark;

    &:active,
    &:focus,
    &:hover {
      background: $brand-primary-very-light;
      color: $true-black;
    }
  }
  .count {
    color: $brand-primary;
    font-weight: 700;
    margin-left: 0.25rem;
  }
  .button {
    margin-right: 20px;
  }
}

.search-container {
  margin-top: $space-md;
  input {
    width: 100%;
    border-bottom: 2px solid $grey-medium;
    padding: $space-sm;
    @include font-size(24px);
  }
}
