.link-list {

  li {
    margin-bottom: $space-md;

    a {
      @include font-size(20px);

    }

    span {
      display: block;
      font-weight: $font-weight-normal;
      @include font-size(15px);
    }
  }
}