.post-list {
  margin-top: $space-lg;

  &.simple {
    margin-top: $space-md;
    margin-bottom: $space-md;
  }

  &__item {
    margin-bottom: $space-lg;

    display: grid;
    grid-template-columns: 1fr;
    align-items: flex-start;

    @media (min-width: $break-sm) {
      grid-gap: $space-md;
      grid-template-columns: 160px 1fr;
    }

    .simple & {
      // grid-template-columns: 1fr;
      margin-bottom: $space-md;
    }

    &-date {
      @include font-size(13px);
      color: $text-body;
      margin-bottom: $space-sm;

      @media (min-width: $break-sm) {
        margin-top: $space-sm;
      }
    }
    &-heading {
      margin-top: 0;
      margin-bottom: $space-sm;
      // a {
      //   color: $text-body-dark;
      // }
    }
    &-thumb {
      display: block;
      margin-bottom: 0;
    }
    &-excerpt {
      margin-top: $space;
    }
  }
}
