h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %font-heading;
  color: inherit;
  line-height: 1.3em;
  margin-bottom: 0.5em;
  font-weight: $font-weight-semibold;
  a {
    color: inherit;
  }
}

// h2, h3, h4, h5, h6 {
//   margin-top: 1.5em;

//   & > & {
//     margin-top: 0;
//   }
// }

h1 {
  @include font-size(30px);
  font-weight: $font-weight-bold;

  span {
    display: block;
    color: $brand-primary-light;
    font-weight: $font-weight-normal;
    text-transform: none;
    @include font-size(20px);
  }
}

h2 {
  @include font-size(26px);

  span {
    display: block;
    color: $medium-grey;
    font-weight: $font-weight-normal;
    @include font-size(16px);
  }
}

h3 {
  @include font-size(18px);
}

h4 {
  @include font-size(16px);
}

h5 {
  @include font-size(14px);
}

h6 {
  @include font-size(12px);
}

small,
.font_small {
  @include font-size(11px);
}

a {
  color: $brand-primary;
  text-decoration: none;
  position: relative;
  
  &:focus,
  &:active,
  &:hover {
    color: $brand-primary-dark;
    background-color: rgba($brand-primary, 0.06);
    text-decoration: underline;
  }
}

p {
  margin: auto;
  margin-bottom: 1em;

  &.lead {
    @include font-size(24px);
    font-weight: $font-weight-semibold;
  }
}
