h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %font-heading;
  color: inherit;
  line-height: 1.2;
  margin-top: $space-lg;
  margin-bottom: $space;
  font-weight: $font-weight-bold;

  .anchor {
    display: none;
    left: $space-xs;
    padding: 0 $space-sm;
  }

  &:hover .anchor {
    display: inline-block;
    background: none;
    border: 0;
  }
}

h1 {
  @include font-size(30px);
  margin-top: 0;
  font-weight: $font-weight-bold;
}

h2 {
  @include font-size(26px);
}

h3 {
  @include font-size(18px);
}

h4 {
  @include font-size(16px);
}

h5 {
  @include font-size(14px);
}

h6 {
  @include font-size(12px);
}

small,
.font_small {
  @include font-size(11px);
}

a {
  color: $brand-primary;
  text-decoration: none;
  position: relative;

  &:active,
  &:hover {
    color: $brand-primary;
    background-color: rgba($brand-primary, 0.03);
    border-bottom: 2px solid $brand-primary;
  }
}

b,
strong {
  font-weight: $font-weight-semibold;
}

p {
  margin: auto;
  margin-bottom: $space;
  
  &.lead {
    @include font-size(24px);
    font-weight: $font-weight-semibold;
    color: $text-body-dark;
    margin-bottom: $space-md;
  }
}