::selection {
  background: rgba($brand-primary, 0.2);
}

html {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  @include font-size(16px);

  @media (min-width: $break-sm) {
    @include font-size(18px);
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  @extend %font-body;
  position: relative;
  padding: 0;
  padding-bottom: 50px;
  margin: auto;
  background-color: $grey-light;
  font-weight: $font-weight-normal;
  line-height: 1.6;
  letter-spacing: 0.1px;
  color: $text-body;
  -webkit-font-smoothing: antialiased;


}

hr {
  margin-top: $space-lg;
  margin-bottom: $space-lg;
  border: 0;
  background-color: $grey-medium;
  height: 2px;
}

ul,
ol {
  list-style-type: disc;
  margin: $space 0;

  li {
    margin-bottom: 0.25em;
  }

  ul,
  ol {
    margin: 0.5em 0;
  }

  &.unstyled {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
  }
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

picture {
  @include center-content($wide: true);
  display: block;
  margin-bottom: $space-md;
}

figure {
  margin: 0 0 20px 0;
}

blockquote {
  @include center-content($wide: true);
  margin-top: $space;
  margin-bottom: $space;
  padding: $space;
  border-left: 5px solid $brand-primary-light;
  background-color: $brand-primary-very-light;

  cite {
    @include font-size(13px);
  }
}

:not(pre) {
  > code[class*="language-"],
  > code,
  > kbd,
  > samp {
    @extend %font-mono;
    @include font-size(14px);
    padding: 3px 5px;
    border-radius: 3px;
    color: $text-body-dark;
    background-color: $inline-code;
    text-shadow: 0 1px 0 $white;

    @media (min-width: $break-sm) {
      white-space: pre-wrap;
    }
  }
}

pre {
  display: block;
  border: 0;
  border-radius: 5px;
  line-height: 1.5;
  margin: $space auto $space;
  padding: 20px;
  word-break: break-all;
  word-wrap: break-word;
  overflow: scroll;

  @media (min-width: $break-sm) {
    padding: 20px;
    overflow: auto;
  }

  code {
    background: transparent;
    padding: 0;
    text-shadow: none;
    box-shadow: none;
    border: 0;
  }
}
