::selection {
  background: rgba($brand-primary, 0.2);
}

html {
  font-size: 16px;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  @extend %font-body;
  @include font-size(18px);
  position: relative;
  padding: 0;
  padding-bottom: 50px;
  margin: auto;
  background-color: $light-grey;
  font-weight: $font-weight-normal;
  line-height: 1.6;
  letter-spacing: 0.1px;
  color: $text-body;
  -webkit-font-smoothing: antialiased;
}

hr {
  @include center-content;
  margin-top: 2em;
  margin-bottom: 2em;
  border: 0;
  background-color: #ccc;
  height: 1px;
}

ul,
ol {
  margin: 1em 0;

  li {
    margin-bottom: 0.25em;
  }

  ul,
  ol {
    margin: 0.5em 0;
  }

  &.unstyled {
    list-style-type: none;
    margin-left: 0;
    padding-left: 0;
  }
}

img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

picture {
  @include center-content($wide: true);
  display: block;
  margin-bottom: 2em;
}

figure {
  margin: 0 0 20px 0;
}

blockquote {
  @include center-content($wide: true);
  margin-top: 1em;
  margin-bottom: 1em;
  padding: 1em;
  border-left: 5px solid $brand-primary-light;
  background-color: $brand-primary-very-light;

  cite {
    @include font-size(13px);
  }
}

code,
kbd,
samp {
  @extend %font-mono;
  @include font-size(14px);
  padding: 2px 5px;
  color: inherit;
  border-radius: 3px;
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  display: inline-block;
  text-shadow: 0 1px 0 #fff;
  @media (min-width: $break-sm) {
    white-space: pre-wrap;
  }
}

pre {
  // @include center-content();
  display: block;
  border: 0;
  border-radius: 5px;
  line-height: 1.5;
  margin: 1em auto 1em;
  padding: 20px;
  word-break: break-all;
  word-wrap: break-word;
  overflow: scroll;

  @media (min-width: $break-sm) {
    padding: 20px;
    overflow: auto;
  }

  code {
    background: transparent;
    padding: 0;
    text-shadow: none;
    box-shadow: none;
    border: 0;
  }
}
