h1,
h2,
h3,
h4,
h5,
h6 {
  @extend %font-heading;
  color: $text-body-dark;
  line-height: 1.4;
  margin-top: $space-lg;
  margin-bottom: $space;
  font-weight: $font-weight-bold;

  .anchor {
    display: none;
    left: $space-xs;
    padding: 0 $space-sm;
  }

  &:hover .anchor {
    display: inline-block;
    background: none;
    border: 0;
  }
}

h3,
h4,
h5,
h6 {
  margin-top: $space-md;
}

h1 {
  margin-top: 0;
  font-weight: $font-weight-bold;
  @include font-size(32px);
  @media (min-width: $break-md) {
    @include font-size(48px);
  }
}

h2 {
  @include font-size(24px);
  @media (min-width: $break-md) {
    @include font-size(28px);
  }
}

h3 {
  @include font-size(22px);
}

h4 {
  @include font-size(18px);
}

h5 {
  @include font-size(14px);
}

h6 {
  @include font-size(12px);
}

small,
.font_small {
  @include font-size(11px);
}

a {
  color: var(--primary);
  font-weight: $font-weight-semibold;
  text-decoration: none;
  position: relative;

  &:active,
  &:hover {
    color: var(--primary);
    background-color: rgba(var(--primary), 0.03);
    border-bottom: 2px solid var(--primary);
  }
  &.no-hover {
    &:active,
    &:hover {
      text-decoration: none;
      border: 0;
      background: none;
    }
  }
}

b,
strong {
  font-weight: $font-weight-semibold;
}

p {
  margin-top: 0;
  margin-bottom: $space;

  &.lead {
    @include font-size(20px);
    font-weight: $font-weight-semibold;
    color: $text-body-dark;
    margin-bottom: $space-md;

    @media (min-width: $break-sm) {
      @include font-size(24px);
    }
  }
}
